.inputGroup {
  margin-bottom: 20px;
}

.label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.inputField {
  width: 96%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

.inputError {
  border: 1px solid red;
}

.errorParagraph {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
